/*
Copyright 2013, Sandia Corporation. Under the terms of Contract
DE-AC04-94AL85000 with Sandia Corporation, the U.S. Government retains certain
rights in this software.
*/

body
{
  background: #f3f2f0;
  padding-top: 50px;
}

.popover
{
  min-width: 300px;
}

#slycat-project-model-container
{
  padding-top: 15px;
}

#slycat-model-container
{
  margin: 0;
  padding: 0;
}


