/*
Copyright 2013, Sandia Corporation. Under the terms of Contract
DE-AC04-94AL85000 with Sandia Corporation, the U.S. Government retains certain
rights in this software.
*/

body
{
  background: #f3f2f0;
  overflow-y: scroll;
  padding-top: 50px;
}

.popover
{
  min-width: 300px;
}

#slycat-project-model-container, #slycat-projects-project-container
{
  padding-top: 15px;
}

#slycat-model-container
{
  margin: 0;
  padding: 0;
}

pre.slycat-alert-detail
{
  border: 0;
}

.slycat-model-alert
{
  margin-bottom: 0;
}
