<!DOCTYPE html>

<!--
Copyright 2013, Sandia Corporation. Under the terms of Contract
DE-AC04-94AL85000 with Sandia Corporation, the U.S. Government retains certain
rights in this software.
-->

{{=<< >>=}}

<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="<<slycat-server-root>>js/angular.min.js"></script>
    <script type="text/javascript" src="<<slycat-server-root>>js/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script type="text/javascript" src="<<slycat-server-root>>js/slycat-configuration.js"></script>
    <script type="text/javascript" src="<<slycat-server-root>>js/slycat.js"></script>
    <link rel="stylesheet" href="<<slycat-server-root>>style/bootstrap.min.css">
    <link rel="stylesheet" href="<<slycat-server-root>>style/slycat.css" type="text/css">
    <title>Slycat Model</title>
  </head>

  <body>
    <div ng-app="slycat-application" ng-controller="slycat-model-controller">
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="<<slycat-server-root>>">Slycat</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="<<slycat-server-root>>projects/{{project._id}}">{{project.name}}</a></li>
              <li class="active"><a href="<<slycat-server-root>>models/{{model._id}}">{{model.name}}</a></li>
              <slycat-new-model-dropdown></slycat-new-model-dropdown>
            </ul>
            <button type="button" class="btn btn-default btn-xs navbar-btn navbar-right" ng-click="edit()">Edit Model</button>
          </div>
        </div>

        <script type="text/ng-template" id="slycat-edit-model.html">
          <div class="modal-header">
            <h3 class="modal-title">Edit Model</h3>
          </div>
          <div class="modal-body">
            <form role="form">
              <div class="form-group">
                <label for="slycat-model-name">Name</label>
                <input id="slycat-model-name" class="form-control" type="text" ng-model="model.name"></input>
              </div>
              <div class="form-group">
                <label for="slycat-model-description">Description</label>
                <textarea id="slycat-model-description" class="form-control" rows="3" ng-model="model.description"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-danger pull-left" ng-click="delete()">Delete Model</button>
            <button class="btn btn-primary" ng-click="ok()">Save Changes</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
          </div>
        </script>
      </div>

      <div class="alert alert-{{alert.type}} slycat-model-alert" ng-repeat="alert in alerts">
        <p>{{alert.message}}</p>
        <pre ng-show="alert.detail" class="bg-{{alert.type}} slycat-alert-detail">{{alert.detail}}</pre>
      </div>
    </div>

    <div id="slycat-model-container" class="container-fluid">
      <<{ slycat-marking-html }>>
      <<{ slycat-plugin-content }>>
      <<{ slycat-marking-html }>>
    </div>

  </body>
</html>
