<!DOCTYPE html>

<!--
Copyright 2013, Sandia Corporation. Under the terms of Contract
DE-AC04-94AL85000 with Sandia Corporation, the U.S. Government retains certain
rights in this software.
-->

{{=<% %>=}}

<html ng-app="slycat-application" ng-controller="slycat-model-controller">
  <head>
    <meta charset="utf-8"/>
    <script type="text/javascript" src="https://code.angularjs.org/1.2.25/angular.min.js"></script>
    <script type="text/javascript" src="<%server-root%>js/slycat.js"></script>
    <link rel="stylesheet" href="<%server-root%>style/slycat.css" type="text/css">
    <title>{{model.name}} - Slycat Model</title>
  </head>

  <body>
    <div id="slycat-workers">
    </div>

    <div id="slycat-header">
      <div class="slycat-width-wrapper">
        <ul id="slycat-breadcrumbs">
          <li><a href="<%server-root%>">Slycat</a></li>
          <li><a href="<%server-root%>projects/{{project._id}}">{{project.name}}</a></li>
          <li>{{model.name}}</li>
        </ul>
      </div>
    </div>

    <div id="slycat-content">
    </div>

  </body>
</html>
