<!DOCTYPE html>

<!--
Copyright 2013, Sandia Corporation. Under the terms of Contract
DE-AC04-94AL85000 with Sandia Corporation, the U.S. Government retains certain
rights in this software.
-->

{{=<< >>=}}

<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="<<slycat-server-root>>js/angular.min.js"></script>
    <script type="text/javascript" src="<<slycat-server-root>>js/xeditable.min.js"></script>
    <script type="text/javascript" src="<<slycat-server-root>>js/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script type="text/javascript" src="<<slycat-server-root>>js/slycat-configuration.js"></script>
    <script type="text/javascript" src="<<slycat-server-root>>js/slycat-model-changes.js"></script>
    <script type="text/javascript" src="<<slycat-server-root>>js/slycat-navbar.js"></script>
    <script type="text/javascript" src="<<slycat-server-root>>js/slycat-project.js"></script>
    <link rel="stylesheet" href="<<slycat-server-root>>css/bootstrap.min.css">
    <link rel="stylesheet" href="<<slycat-server-root>>css/xeditable.css">
    <link rel="stylesheet" href="<<slycat-server-root>>css/slycat.css" type="text/css">
    <title>Slycat Project</title>
  </head>

  <body>
    <div ng-app="slycat-project" ng-controller="slycat-project-controller" ng-init="init(<<slycat-markings>>)">
      <slycat-navbar></slycat-navbar>
      <div id="slycat-project-model-container" class="container">
        <div class="panel panel-default">
          <div class="panel-heading"><span class="h4" editable-text="project.name" e-size="80" onaftersave="save_name()">{{project.name}}</span>
          </div>
          <div class="panel-body">
            <p editable-textarea="project.description" e-rows="7" e-cols="80" onaftersave="save_description()">{{project.description || "Project Description"}}</p>
            <p><small><em>Created {{project.created | date : "medium"}} by {{project.creator}}</em></small></p>
          </div>
        </div>

        <div class="panel panel-default" ng-show="models.list.length">
          <div class="list-group">
            <a class="list-group-item" ng-repeat="model in models.list | orderBy : 'created' : true" href="{{model.path}}">
              <span class="label label-default">{{model["model-type"]}} model</span>
              <strong>{{model.name}}</strong>
              <div class="label" style="display: inline-block;" ng-bind-html="markings[model.marking].html"></div>
              <span ng-show="model.result == 'failed'" class="label label-danger" popover-placement="right" popover="{{model.message}}" popover-title="Error message:" popover-trigger="mouseenter" class="bg-danger">Failed</span>
              <p><small>{{model.description}} <em>Created {{model.created | date : "medium"}} by {{model.creator}}</em></small></p>
            </a>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
