<!DOCTYPE html>

<!--
Copyright 2013, Sandia Corporation. Under the terms of Contract
DE-AC04-94AL85000 with Sandia Corporation, the U.S. Government retains certain
rights in this software.
-->

{{=<< >>=}}

<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="<<slycat-server-root>>js/angular.min.js"></script>
    <script type="text/javascript" src="<<slycat-server-root>>js/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script type="text/javascript" src="<<slycat-server-root>>js/slycat-configuration.js"></script>
    <script type="text/javascript" src="<<slycat-server-root>>js/slycat-model-changes.js"></script>
    <script type="text/javascript" src="<<slycat-server-root>>js/slycat-navbar.js"></script>
    <script type="text/javascript" src="<<slycat-server-root>>js/slycat-project-changes.js"></script>
    <script type="text/javascript" src="<<slycat-server-root>>js/slycat-projects.js"></script>
    <link rel="stylesheet" href="<<slycat-server-root>>css/bootstrap.min.css">
    <link rel="stylesheet" href="<<slycat-server-root>>css/slycat.css" type="text/css">
    <title>Slycat Projects</title>
  </head>

  <body>
    <div ng-app="slycat-projects" ng-controller="slycat-projects-controller">
      <slycat-navbar></slycat-navbar>
      <div id="slycat-projects-project-container" class="container" ng-show="projects.list.length">
        <div class="panel panel-default">
          <div class="list-group">
            <a class="list-group-item" ng-repeat="project in projects.list | orderBy : 'created' : true track by project._id" href="{{project.path}}">
              <span class="label label-default">project</span>
              <strong>{{project.name}}</strong>
              <p><small>{{project.description}} <em>Created {{project.created | date : "medium"}} by {{project.creator}}</em></small></p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
